.app {
    width: 540px;
    margin: 25px auto;
}

.board {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
}

.board div {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hit{

}

#treasure{

}
